
.env

# Ignore dependencies
node_modules/
server/node_modules/
client/node_modules/

# Ignore system files
.DS_Store
*.log

# Ignore Folders
dist/
build/
postgres_data/
db.sqlite

CREATE_ORDER
creation-order-by.txt
DockerManipulation.txt